# Python / Backend
venv/
env/
__pycache__/
*.pyc
instance/
.pytest_cache/
.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
.vite/
.vercel/

# Environment & Secrets
.env
.env.local
.env.*.local

# Project Specifics
preview/
oauth/
tests/
