SECRET_KEY=your_secret_key
FRONTEND_URL=http://127.0.0.1:35729 # change this to your local host where the frontend/static files are

JWT_SECRET_KEY =your_jwt_secret_key

# Gmail SMTP
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_apps_password

# Default sender
MAIL_DEFAULT_SENDER=your_email@gmail.com
 
ADMIN_USERNAME=your_email@gmail.com
ADMIN_PASSWORD=your_admin_password